<nav class="navbar fixed-bottom navbar-expand navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">WeighDown <small class="text-muted version-text">v0.26</small></a>
        <ul class="navbar-nav mr-auto">
            <LoginDisplay />
        </ul>
    </div>
</nav>