@page "/new-competition"

<div class="row">
    <div class="col-12">
        <h4>New Competition</h4>
    </div>
</div>

<EditForm Model="@Competition" OnValidSubmit="HandleSubmit">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card shadow">
                <div class="card-header">
                    <h5>Enter Details</h5>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label class="form-label">Name</label>
                        <InputText @bind-Value="Competition.Name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="form-label">Start Date</label>
                        <InputDate @bind-Value="StartDate" class="form-control" min='@DateTime.Today.ToString("yyyy-MM-dd")' />
                    </div>
                    <div class="form-group">
                        <label class="form-label">Number of Weeks</label>
                        <InputNumber @bind-Value="NumberOfWeeks" class="form-control" min="1" max="52" step="1" />
                    </div>
                    <div class="form-group">
                        <label class="form-label">End Date</label>
                        <InputDate @bind-Value="Competition.EndDate" class="form-control" readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-label">Play In Amount</label>
                        <InputNumber @bind-Value="Competition.PlayInAmount" class="form-control" step="0.01" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card shadow">
                <div class="card-header">
                    <h5>Pick your weigh-in dates</h5>
                </div>
                <div class="card-body">
                    <Iterations Context="deadline" Items="Competition.WeighInDeadlines.OrderBy(w => w.DeadlineDate)">
                        <Condition Evaluation="deadline.DeadlineDate == Competition.StartDate || deadline.DeadlineDate == Competition.EndDate">
                            <Match>
                                <div class="form-group">
                                    <div class="form-check">
                                        <InputCheckbox @bind-Value="deadline.IsActive" class="form-check-input" disabled />
                                        <label class="form-check-label">@deadline.DeadlineDate.ToShortDateString()</label>
                                    </div>
                                </div>
                            </Match>

                            <NotMatch>
                                <div class="form-group">
                                    <div class="form-check">
                                        <InputCheckbox @bind-Value="deadline.IsActive" class="form-check-input" />
                                        <label class="form-check-label">@deadline.DeadlineDate.ToShortDateString()</label>
                                    </div>
                                </div>
                            </NotMatch>
                        </Condition>
                    </Iterations>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 offset-md-6 col-md-6 text-end">
            <button @onclick='() => Navigation.NavigateTo("/")' class="btn btn-secondary btn-block"
                    type="reset">
                Cancel
            </button>
            <button class="btn btn-success btn-block" type="submit">
                @if (IsFormSubmitting)
                {
                    <span class="spinner-border spinner-border-sm"></span>
                    <span> Submitting</span>
                }
                else
                {
                    <span>Submit</span>
                }
            </button>
        </div>
    </div>
</EditForm>