<Condition Evaluation="Competitions is not null">
    <Match>
        <div class="row">
            <div class="col-12">
                <h4>All Competitions</h4>
            </div>
        </div>

        <Condition Evaluation="Competitions.Any()">
            <Match>
                <div class="row">
                    <Iterations Items="Competitions">
                        <div class="col-12 col-md-4">
                            <CompetitionQuickDetailsCard Competition="context" />
                        </div>
                    </Iterations>
                </div>
            </Match>

            <NotMatch>
                <div class="row">
                    <div class="col-12">
                        <p>No competitions to show.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <button type="button" class="btn btn-secondary" @onclick='() => Navigation.NavigateTo("/new-competition")'>Create New</button>
                    </div>
                </div>
            </NotMatch>
        </Condition>
    </Match>

    <NotMatch>
        <div class="row">
            <div class="col-12 text-center">
                <LoadingSpinner MarginTop="50" />
            </div>
        </div>
    </NotMatch>
</Condition>