@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html, body {
    font-family: 'Montserrat', sans-serif;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

.form-group {
    margin-bottom: 15px;
}

div.card {
    margin-bottom: 20px;
}
